// A config file scrubbed of DISH ip, so it can be used freely 
//Device name constants, Don't touch! Request forms are usually picky on whitespace!!
sampleTitle= MY BOX 1(ver 1)

// Your Release files location
VCS=.\VCS\

// Your Bot script location
Bots=.\MACRO\

// Your BVT csv input location
csvIn=.\CSV\

// Your cube devices:
// Add your devices here
 devicesSerials[0]=Enter a serial here
 devicesReceiverNum[0]=Enter a reciever number here
 devicesTitles[0]=%sampleTitle%
 devicesSerials[1]=Enter a serial here
 devicesReceiverNum[1]=Enter a reciever number here
 devicesTitles[1]=%sampleTitle%


//To add a device to your cube, add copy the three information bits above
//and replace the index in [] with the last number + 1
//then fill in information above with your devices and a title from the constants that matches with % around it

// Device types
// !!Adjust numDevices to the number, Batch is annoying and makes finding length a big O of greater than n squared!!
 numDevices=9
 devices[0]=enter your product types here
 devices[1]=enter your product types here
 devices[2]=enter your product types here
 devices[3]=enter your product types here
 devices[4]=enter your product types here
 devices[5]=enter your product types here
 devices[6]=enter your product types here
 devices[7]=enter your product types here
 devices[8]=enter your product types here

// To add a new device, simply add devices[number]=deviceName, where device name is the name of the device
// and number is the last number + 1 and !!do the same for roots of that number!!

// Supported Branches
// !!Adjust numBranches to the number for branches, Batch is annoying and makes finding length a big O of greater than n squared!!
 numBranches=2
 branches[0]=Enter your software branches here
 branches[1]=Enter your software branches here

// Ending characters to be replaced with version in parent folder
// for example with family AB and ending xx:  abxx/aba1
ending=xx

// To add a new release branch, simply add devices[number]=deviceName, where device name is the name of the device
// and number is the last number + 1, then do the same for each mappings# below or else it will have Out of Bounds error

// Web app location
webroot=\some_app_repo\

// Web app mappings, this is the tgz file beginning for searching for available streams, first 4 of branch _ and Beta _
webmappings[0]=appfile1
webmappings[1]=appfile2


//app mappings, the first Two Letters in caps and beta version in two numbers, this is the name of streams for this branch
codemappings[0]=A1
codemappings[1]=A2

// Signed software root directories for each device
// !!Required for adding a device!!
roots[1]=Enter your repo location here
roots[2]=Enter your repo location here
roots[3]=Enter your repo location here
roots[4]=Enter your repo location here
roots[5]=Enter your repo location here
roots[6]=Enter your repo location here
roots[7]=Enter your repo location here
roots[8]=Enter your repo location here

// To add a root simply add roots[number]=directoryInSignedSoftware
// and number is the device number from earlier


// Release software name mappings, these fetch the correct software for each release
// To add a mapping simply add mappings[#of devices * branch + deviceNumber]=SoftwareTwoCharacterPattern
// Or just copy and paste a past branch mappings and keep adding +1 to the number
// !!must be completed for each branch and each device or else an Out Of Bounds error will occur!!

 //Sample branch version pattern
 mappings[0]=a1
 mappings[1]=a2
 mappings[2]=a3
 mappings[3]=a4
 mappings[4]=a5
 mappings[5]=a6
 mappings[6]=a7
 mappings[7]=a8
 mappings[8]=a9
 mappings[9]=b1
 mappings[10]=b2
 mappings[11]=b2
 mappings[12]=b3
 mappings[13]=b4
 mappings[14]=b5
 mappings[15]=b6
 mappings[16]=b7
 mappings[17]=b8
 mappings[18]=b9
